.header{
    width:100%;
    height:71px;
    background: url(../images/nav_bg.png) left bottom repeat-x;
   }

.inner{
width:1000px;
margin:0 auto;
}
.ws h1{
    float:left;
    background: url(../images/kbs1.png) left center no-repeat;
    font-size: 14px;
    line-height: 45px;
    margin-top: 13px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20px;
    text-decoration: none;
    padding-left: 55px;
    font-weight: normal;

}
ul.navibar{
    float:right;
    list-style: none;
    margin: 20px 5px 0 0;
    padding: 0;
}

ul.navibar li{
    padding: 0;

    float: left;
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 0;
    margin-left: 8px;
}

li a{
    text-decoration: none;
    color:black;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
li.navitem a:hover{
    color: #d02128;
}